header {
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.products {
display: flex;
justify-content: space-around;
}

.product-item {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item img {
  width: 75%;
  margin-bottom: 20px;
}

.basketGoods {
  display: flex;
  justify-content: space-around;
}

.basket-item {
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
  display: flex;
  flex-direction: column;
  align-items: center;
}